.hoje {
  color: darkred;
}

.amanha {
  color: darkblue;
}

.inicio {
  color: black;
  text-decoration: none;
  border: 1px solid #103;
  border-radius: 5px;
  padding: 5px;
}

h2 a {
  color: seagreen;
  text-decoration: none;
}

p {
  font-size: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
